<p id="notice"><%= notice %></p>

<p>
  <strong>Slider:</strong>
  <%@slider.slider.each do |file|%>
  <%= image_tag file.url, style: 'width:300px;height:200px;' %>
  <%end%>
</p>

<%= link_to 'Edit', edit_slider_path(@slider) %> |
<%= link_to 'Back', sliders_path %>
