<style>
    .bottom-mob{    background-color: transparent;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0);}
    @media only screen and ( max-width: 500px ){
        .social{position: relative !important;left: 20% !important;}
    }
    .social{position: relative;left: 7%;}
</style>
<footer>
    <div class="footer" id="footer" dir="rtl">
        <div class="container" style="margin-top: 20px; !important">
            <div class="row">
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> القائمة البريدية </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="البريد الإلكتروني ">
                                <button class="btn  bg-gray" type="button"><i class="fa fa-long-arrow-lef"> </i>  إشترك بالقائمة البريدية</button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-4 col-xs-12">
                    <h3> خدمات أورا العقارية </h3>
                    <ul>
                        <li> <a href="#"> إدارة الأملاك العقارية </a> </li>
                        <li> <a href="#"> الإستشارات العقارية </a> </li>
                        <li> <a href="#"> التسويق العقاري </a> </li>
                        <li> <a href="#"> الخدمات العقارية </a> </li>
                        <li> <a href="#"> خدمات ما بعد البيع و الشراء </a> 
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-4 col-xs-12">
                    <h3> حول تركيا </h3>
                    <ul>
                        <li> <a href="#"> السياحة في تركيا</a> </li>
                        <li> <a href="#"> الحياة في تركيا </a> </li>
                        <li> <a href="#"> قوانين و أنظمة </a> </li>
                        <li> <a href="#"> فوائد الإستملاك </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <h3> روابط رئيسية </h3>
                    <ul>
                        <li> <a href="#"> أخبار العقارات و المنشآت </a> </li>
                        <li> <a href="#">أخبار تركيا </a> </li>
                        <li> <a href="#"> اطلب عقارك الآن </a> </li>
                        <li> <a href="#"> بحث متقدم </a> </li>
                    </ul>
                </div>
                
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container-fluid">
            <p class="pull-left"> ORA © All Rights Reserved 2017</p><span>
             <ul class="nav nav-pills payments bottom-mob">
                    <li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul> 
            </span>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>
<a href="#intro" class="go2top"><i class="fa fa-arrow-up"></i></a>
