<style>
    .bottom-mob{    background-color: transparent;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0);}
     @media only screen and ( max-width: 500px ){
        .social{position: relative;left: 20%;}
    }
    .social{position: relative;left: 7%;}
</style>
<footer>
    <div class="footer" id="footer">
        <div class="container" style="margin-top: 20px; !important">
            <div class="row">
                <div class="col-lg-3  col-md-3 col-sm-4 col-xs-12">
                    <h3> ORA Services </h3>
                    <ul>
                        <li> <a href="#"> Real estate management </a> </li>
                        <li> <a href="#"> Real estate consultancy </a> </li>
                        <li> <a href="#"> Real Estate Marketing</a> </li>
                        <li> <a href="#"> Real estate services </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-4 col-xs-12">
                    <h3> About Turkey </h3>
                    <ul>
                        <li> <a href="#"> Tourism in Turkey</a> </li>
                        <li> <a href="#"> Life in Turkey </a> </li>
                        <li> <a href="#"> Laws and Regulations </a> </li>
                        <li> <a href="#"> Benefits of acquisition </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <h3> Main Links </h3>
                    <ul>
                        <li> <a href="#"> Real estate and property news</a> </li>
                        <li> <a href="#">Turkey News </a> </li>
                        <li> <a href="#">Request your property now </a> </li>
                        <li> <a href="#"> Search Property </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3>NewsLetter </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email ">
                                <button class="btn  bg-gray" type="button"> Join NewsLetter Now <i class="fa fa-long-arrow-right"> </i> </button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
       <div class="container-fluid">
            <p class="pull-left"> ORA © All Rights Reserved 2017.</p><span>
             <ul class="nav nav-pills payments bottom-mob">
                    <li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul> 
            </span>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>
<a href="#intro" class="go2top"><i class="fa fa-arrow-up"></i></a>