<!-- <style type="text/css">
	label{
		color: #fff;
	}
	.form-control{
		background-color: rgba(255, 255, 255, 0);
	}
	.form-control::-webkit-input-placeholder { color: white; }
	.form-control:-moz-placeholder { color: white; }
	.form-control::-moz-placeholder { color: white; }
	.form-control:-ms-input-placeholder { color: white; }
	.form-control::-ms-input-placeholder { color: white; }
	input{
		color: #fff!important;
	}
</style> -->

<% @enquiry = Enquiry.new%>
<div class="well bs-component">
<%= form_for(@enquiry, remote: true) do |f|%>
<div class="form-group">
  <label class="control-label">Your name</label>
  <%= f.text_field :name, class: "form-control", placeholder: 'Your name' %>
</div>

<div class="form-group">
  <label class="control-label">Mobile no.</label>
 	<%= f.text_field :mobile, class: "form-control", placeholder: 'Mobile no.' %>
</div>

<div class="form-group">
  <%= f.button 'Submit', :class => 'btn btn-primary' %>
</div>
<%end%>
</div>